.init-hidden {
    opacity: 0;
    transition: 2s linear;
}
.init-hidden-off {
    opacity: 1;
}
@-webkit-keyframes focus-in-contract {
0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
}
100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
}
}
@keyframes focus-in-contract {
0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
}
100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
}
}
/* cover-image */
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.018) translateY(0);
              transform: scale(1.018) translateY(0);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
.kenburns-top {
	-webkit-animation: kenburns-top 1s linear both;
	animation: kenburns-top 1s linear both;
}
.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Material';
    background-image: url('../image/card-2-service.png');
}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #ffffffef;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.nav__logo {
    display: flex; 
    flex-direction: row;
    width: 100%;
    max-width: 150px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.nav__rigth {
    flex: 1;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.nav__links img {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 20px;
}
.nav__links span {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-right: 20px;
    color: #678276;

}
.nav__logo img {
    max-width: 100%;
    height: auto;
}
.nav__links {
    display: flex;
    justify-content: end;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50%;
}
nav a {
    text-decoration: none;
    color: #678276;
}
.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
.nav__menu li {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.sec_slide {
    width: 100%;
    height: 75vh;
    border-radius: 0px 15px 0px 0px;
    background-image: url(../image/Spraying\ Drone\ GIF\ 2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.sec__slide-text {
    width: 40%;
    max-width: 600px;
    height: 75vh;
    float: right;
    text-align: center;
    word-wrap: break-word;
    padding: 30px;
    background-color: #353333;
    color: white;
    opacity: 0.8;
}
.sec__slide-text h1 {
    font-size: 35px;
    margin-top: 15px;
    padding: 10px;
    font-weight: 400;
}
.sec__slide-text p{
    font-size: 20px;
    align-self: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* serviços */

.sec_services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.sec_services-bar {
    width: 100%;
    height: 20%;
    background-color: #373753;
    color: white;
    font-size: 60px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 100px;
}

.sec_services-cards {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.card-1 {
    width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-image: url(../image/card-1-service.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-1:hover {
    background-image: url(../image/hover/1.jpg);
    border: 5px solid #fff;
    -webkit-animation: kenburns-top 1s linear both;
	animation: kenburns-top 1s linear both;
}

.card-2 {
    width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-image: url(../image/card-2-service.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-2:hover {
    background-image: url(../image/hover/2.jpg);
    border: 5px solid #fff;
    -webkit-animation: kenburns-top 1s linear both;
	animation: kenburns-top 1s linear both;
}

.card-3 {
    width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-image: url(../image/card-1-service.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-3:hover {
    background-image: url(../image/hover/3.jpg);
    border: 5px solid #fff;
    -webkit-animation: kenburns-top 1s linear both;
	animation: kenburns-top 1s linear both;
}

.card-4 {
    width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-image: url(../image/card-2-service.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
}

.card-4:hover {
    background-image: url(../image/hover/4.jpg);
    border: 5px solid #fff;
    -webkit-animation: kenburns-top 1s linear both;
	animation: kenburns-top 1s linear both;
}
.line {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    border: none;
    border-top: 3px solid #fff;
    margin-bottom: 150px;
}
.card__header {
    text-align: left;
    font-size: 2em;
    font-weight: 350;
    color: white;
    padding-left: 15px;
}
.texto {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: auto;
    padding-bottom: 50px;
}

/* quem somos */

.section {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: auto;
    background-color: #ffffffb4;
}

.section__header {
    display: flex;
    width: 100%;
    height: 37%;
    position: relative;
}
.section__header h1 {
    position: absolute;
    top: 30%;
    left: 15%;
    max-width: 100%;
    font-size: 4rem;
    text-align: left;
    color: #fff;
}

.section__header img {
    width: 100%;
    align-self: center;

}
.section__text {
    width: 55%;
    height: 100%;
    flex-direction: column;
    word-wrap: break-word;
    padding: 40px 5px 5px 45px;
    color: #373753;
}

.section__text h3 {
    font-size: 35px;
}

.section__text p {
    margin-top: 30px;
    font-size: 22px;
}

/* trabalhe conosco */

.join {
    background-image: url(../image/bgc-green.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.join__text {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: auto;
    float: right;
    padding: 25px;
    margin-right: 50px;
}

.join__text :nth-child(1) {
    font-size: 2.4rem;
    color: #FFF;
}
.join__text :nth-child(2) {
    font-size: 2rem;
    color: #FFF;
}