* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Material';
    font-weight: 300;
}

.init-hidden {
    opacity: 0;
    transition: 1s linear;
    transform: translateY(40px);
}
.init-hidden-off {
    opacity: 1;
    transform: translateY(0);
}

.init-hidden-X {
    opacity: 0;
    transition: 1s linear;
    transform: translateX(30px);
}
.init-hidden-off-X {
    opacity: 1;
    transform: translateX(0);

}

.cut {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%,10% 50%, 0 0);
}
:root {
    --color-azul: #373753;
    --color-verde: #98c1af;
    --color-Mverde: #678276;
    --color-cinza: #808080;
}
@-webkit-keyframes focus-in-contract {
0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
}
100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
}
}
@keyframes focus-in-contract {
0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
}
100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
}
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #ffffffef;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.nav__logo {
    display: flex; 
    flex-direction: row;
    width: 100%;
    max-width: 150px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.nav__rigth {
    flex: 1;
    height: 125px;
    display: flex;
    flex-direction: column;
}
.nav__links img {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 20px;
}

.nav__logo img {
    max-width: 100%;
    height: auto;
}
.nav__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50%;
}
nav a {
    text-decoration: none;
    color: #678276;
}
.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    margin: 20px;
    flex: 1;
}
.nav__menu li {
list-style: none;
margin-left: 100px;
}

/* SLIDE */

.slideshow {
    position: relative;
    width: 100%;
    height: 400px;
}
  
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.slide.active {
    opacity: 1;
}
  
.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
  
.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}
  
.slide-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
  
  .slide-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
  
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: var(--color-verde);
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
}

  
.prev {
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.next {
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* quem somos */

.section__container {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-color: #ffffffea;
    overflow-x: hidden;
}

.section__container-left {
    display: flex;
    width: 55%;
    max-width: 100%;
    height: 100%;
    flex-direction: row;
}
.section__container-left :nth-child(1) {
    height: 80%;
    display: flex;
    position: relative;
    margin: auto;
    padding: 15px;
    top: -1.5em;
}
.section__container-left :nth-child(2) {
    height: 80%;
    display: flex;
    position: relative;
    margin: auto;
    padding: 15px;
    top: 0.5rem;
}
.section__container-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: var(--color-azul);
    padding: 30px;
    margin: auto;
}
.section__container-right h1 {
    text-align: left;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 400;
}
.section__container-right p {
    text-align: left;
    font-size: 25px;
}

.btn {
    width: 40%;
    margin-top: 20px;
    background-color: var(--color-Mverde); 
    color: white; 
    padding: 20px 24px; 
    border: none; 
    border-radius: 5px; 
    font-size: 25px; 
    cursor: pointer;
    margin: auto;
    margin-top: 40px;
}
.btn:hover {
    background-color: var(--color-azul);
    color: white;
    transition:  0.3s linear;
    text-decoration: underline;
}

.section {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: auto;
    background-color: #ffffffb4;
}

.section__header {
    display: flex;
    width: 100%;
    height: 37%;
    position: relative;
}
.section__header h1 {
    position: absolute;
    top: 30%;
    left: 15%;
    max-width: 100%;
    font-size: 4rem;
    text-align: left;
    color: #fff;
}

.section__header img {
    width: 100%;
    align-self: center;
}
.section__text {
    width: 55%;
    height: 100%;
    flex-direction: column;
    word-wrap: break-word;
    padding: 40px 5px 5px 45px;
    color: #373753;
}

.section__text h3 {
    font-size: 35px;
}

.section__text p {
    margin-top: 30px;
    font-size: 22px;
}

/* PORTFOLIO COM LOGOS */

.portfolio {
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
}


.portfolio::before,
.portfolio::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;  
    content: "";
    z-index: 2;
}

.portfolio::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.portfolio::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.portfolio__carrocel {
    animation: slide 25s infinite linear;
    display: inline-block;
}

.portfolio__carrocel img {
    height: 100px;
    margin: 0 40px;
}

/* SERVICES - CARDS */

.sec_services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.sec_services-bar {
    width: 100%;
    height: 25vh;
    background-color: var(--color-azul);
    color: white;
    font-size: 60px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.sec_services-cards {
    display:flex;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
}


.card-1 {
    width: 20%;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-image: url(../image/cards/CARD-1-SERVICE.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.card-2 {
    width: 20%;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-image: url(../image/cards/CARD-2-SERVICE.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
.card-3 {
    width: 20%;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-image: url(../image/cards/CARD-3-SERVIÇO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
.card-4 {
    width: 20%;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-image: url(../image/cards/CARD-4-SERVICE.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card-5 {
    width: 20%;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-image: url(../image/cards/CARD-5-SERVICE.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* CARDS HOVER */

.card-1:hover {
    background-image: url(../image/cards/CARD-1-2-SERVICE.png);
    border: 5px solid #fff;
    transition: 0.1s linear;
}
.card-2:hover {
    background-image: url(../image/cards/CARD-2-2-SERVICE.jpeg);
    border: 5px solid #fff;
    transition: 0.1s linear;
}

.card-3:hover {
    background-image: url(../image/cards/CARD-3-2-SERVICE.jpg);
    border: 5px solid #fff;
    transition: 0.1s linear;
}

.card-4:hover {
    background-image: url(../image/cards/CARD-4-2-SERVICE.png);
    border: 5px solid #fff;
    transition: 0.1s linear;
}
.card-5:hover {
    background-image: url(../image/cards/CARD-5-2-SERVICE.png);
    border: 5px solid #fff;
    transition: 0.1s linear;
}
.line {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    border: none;
    border-top: 3px solid #fff;
    margin-bottom: 150px;
}
.card__header {
    text-align: left;
    font-size: 1.5em;
    font-weight: 350;
    color: white;
    padding-left: 15px;
}

.texto {
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    color: white;
    font-weight: 300;
    margin-top: 50px;
    overflow: hidden;

}

/* trabalhe conosco */

.join {
    background-image: url(../image/bgc-green.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.join__text {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: auto;
    float: right;
    padding: 25px;
    margin-right: 50px;
}

.join__text :nth-child(1) {
    font-size: 2.4rem;
    color: #FFF;
}
.join__text :nth-child(2) {
    font-size: 2rem;
    color: #FFF;
}

/* CONTATO */

.polygon {
    display: flex;
    widows: 100%;
    max-width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(1% 1%, 99% 1%,99% 83%, 1% 94%,1% 1%);
    margin-top: 2rem;
    margin-bottom: -4rem;
    background-image: url(../image/luan-estacao.png);
}
.contato {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.contato::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: var(--color-Mverde);
  }
.form{
    width: 50%;
    height: 100%;
    float: left;
}

.form__area{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 25px;
}
.form__area input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.form__area input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.form__area textarea {
    padding: 10px;
    font-size: 16px;
    font-family: 'Rubik';
    border-radius: 5px;
}
.form__area button{
    width: 170px;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    font-size: 2em;
    font-family: 'Rubik';
    color: white;
    background-color: var(--color-azul);
    margin-top: 20px;
    cursor: pointer;
}
.form__area button:hover{
    background-color: var(--color-verde);
    transition: 0.3s;
    border: none;
}
.form__area input:focus{
    outline: none;
}

.form__img {
    position: relative;
    width: 60%;
    height: 100%;
    float: right;
}
.form__img .bgc-1 {
    background-color: var(--color-azul);
    width: 100%;
    max-width: 100%;
    height: 100%;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 15% 100%);
    float: right;
}

.form__img::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: var(--color-verde);
    float: right;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 25vh;
    background-color: var(--color-azul);
    clip-path: polygon(0% 40%, 100% 0, 100% 100%, 0% 100%);
}

.footer__icons {
    width: 30%;
    height: 100%;
    display: flex;
    object-fit: contain;
    flex-direction: row;
    margin: auto;
    padding-bottom: 15px;
}
.footer__icons a {
    display: flex;
    cursor: pointer;
}
.footer__icons img {
    max-width: 100%;
    height: 40px;
    margin-top: auto;
    margin-left: 30px;
}

.footer_links {
    flex: 1;
    display: flex;
    place-items: center;
    width: 100%;
    height: 100%;
    color: white;
    justify-content: space-evenly;
}

.footer_links h6 {
    font-size: 1em;
    padding: 30px;
    margin-top: auto;
    font-family: 'Rubik';
    font-weight: normal;
}
.footer_links a {
    color:#FFF;
    text-decoration: none;
    cursor: pointer;
}

.footer_links ul {
    display: flex;
    font-size: 1em;
    flex: 1;
    max-width: 100%;
    list-style: none;
    padding: 30px;
    margin-top: auto;
    justify-content: space-evenly;
}

.footer_links li {
    display: flex;
    margin-top: auto 15px 15px 15px;
    font-family: 'Rubik';
    font-weight: normal;
}
.footer_links li:hover {
    text-decoration: underline;
}

/* Botão TOPO */

#voltar-ao-topo {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: var(--color-cinza);
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    z-index: 10000;
}

#voltar-ao-topo img {
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}

.escondido {
    display: none;
}
